<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/register" method="post">
        <input type="text" name="username" autofocus placeholder="<%= locals.error ? error :  'Enter country name'%>">
        <input type="text" name="password" autofocus placeholder="<%= locals.error ? error :  'Enter password'%>">
        <button type="submit">Submit</button>
    </form>
    <form action="/api/login" method="post">
        <input type="text" name="username" autofocus placeholder="<%= locals.error ? error :  'Enter country name'%>">
        <input type="text" name="password" autofocus placeholder="<%= locals.error ? error :  'Enter password'%>">
        <button type="submit">Submit</button>
    </form>
</body>
</html>